
html, body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: brown;
    color: antiquewhite;
}

button{
    background-color: #adb5bd;
    width: 100%;
    height: 100%;
    font-size: large;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    border-radius: 30px;
    border: #000 2px solid;
}
.buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 35%;
}
.div-button{
    display: flex;
    align-items: center;
    width: 95%;
    height: 40%;
}

.div-button-1{
    display: flex;
    align-items: center;
    margin: 3%;
    width: 95%;
    height: 40%;
}

footer{
    margin-top: 2%;
    display: flex;
    align-items: center;
}

header{
    margin-top: 2%;
    margin-block-end: 2%;
    font-family: Verdana, Tahoma, sans-serif;
}
.div-textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px;
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    margin-top: 4px;
}

textarea{
    resize: none;
    width: 80%;
    background-color: cornflowerblue;
    border: none;
    font-size: large;
    height: 20px;
    text-align: right;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60%;
    width: 40%;
    background-color: cornflowerblue;
    border-radius: 5%;
    color: #000;
    padding-top: 20px;
}

.logo-github{
    width: 4vw;
    height: 4vh;
}

